.choose-text{
    color: rgb(48, 47, 47);
}



.choose-text>span{
    color: rgb(110, 109, 109);
    font-size: 1.3rem;
}

.left-img{
    width: 60%;
    height: 25rem;
    background-image: url("https://www.cloudtailor.com/_next/image?url=https%3A%2F%2Fcloudtailor-cdn.s3.ap-south-1.amazonaws.com%2FBrand-outlet.webp&w=750&q=75");
    color: rgb(10, 8, 8);
    font-weight: 500;
    position: relative;
    
}
.left-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(87, 80, 80);
    opacity: 0.75;
}
.left-img:hover::after{
    opacity: 0.5;
    cursor: pointer;
    background-color:none;
}
@media screen and (max-width: 480px) {
    .left-img{
       
    }
  }

/* .left-img:hover{
   background-color: blue;
} */
.right-img{
    width: 60%;
    height: 25rem;
   background-image: url("https://www.cloudtailor.com/_next/image?url=https%3A%2F%2Fcloudtailor-cdn.s3.ap-south-1.amazonaws.com%2Fshop-in-shop.webp&w=750&q=75");
   color: rgb(10, 8, 8);
   font-weight: 500;
   position: relative;
}

.right-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.right-img:hover::after{
    opacity: 0.2;
    cursor: pointer;
    background-color:none;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  